<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="standard">
		<route id="order_tracker_view" frontName="order_tracker_view">
			<module name="Nvspromo_TrackOrderView"/>
		</route>
	</router>
</config>
